$font-size-base:    0.875rem;

$h1-font-size:                $font-size-base * 2;

// Below are default header sizes
// $h2-font-size:                $font-size-base * 2;
// $h3-font-size:                $font-size-base * 1.75;
// $h4-font-size:                $font-size-base * 1.5;
// $h5-font-size:                $font-size-base * 1.25;
// $h6-font-size:                $font-size-base;

$white:     #fff;

$blue:      #2373cd;
$indigo:    #5e56c2;
$purple:    #7b6382;
$pink:      #e45597;
$red:       #db4d3e;
$orange:    #c8923d;
$yellow:    #e4cd53;
$green:     #41a45f;
$teal:      #2db089;
$cyan:      #62aca5;
$lime:      #aac066;

$ltcyan:    #a9d8ca;
$ltlime:    #dde1a0;

$gray-600:  #999999;  // bootstrap "gray"
$gray-800:  #444444;  // bootstrap "gray-dark"


$primary:   $cyan;
$secondary: $purple;
$success:   $green;
$info:      $lime;
$warning:   $yellow;
$danger:    $red;
$light:     #f8f9fa;
$dark:      #343a40;



@import "/Users/andy/cobweb-django/bootstrap/scss/bootstrap.scss";
