{% extends "base.html" %}
{% load crispy from crispy_forms_tags %}
{% load model_name as_link from cobweb_look %}
{% load render_table from django_tables2 %}

{% block window_title %}Cobweb: {{nomination}}{% endblock %}

{% block content %}
    <div class="row"><div class="col mt-1 mb-3">
        <h2>PROJECT: {{nomination.project|as_link}}</h2>
        <h3>NOMINATION: {{nomination.resource|as_link}}</h3>
    </div></div>

    <div class="row">
        <div class="col-6"><div class="pane">{% crispy form %}</div></div>
        
        <div class="col-6">
            <div class="pane">
                <form method="post">
                    {% crispy formset %}
                    {% comment %} {{ formset.management_form }}
                    <table>
                        {% for formset_form in formset %}
                        {% include 'projects/claim_form.html' with claim=formset_form %}
                        {% endfor %}
                    </table> {% endcomment %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
