{% extends "base.html" %}
{% load jargon %}
{% load crispy from crispy_forms_tags %}
{% load i18n %}
{% load model_name as_link from cobweb_look %}
{% load render_table from django_tables2 %}

{% block title %}Cobweb: Nomination{% endblock %}

{% block content %}
    <div class="row"><div class="col">
        <h2>{% term 'nomination' 'capitalize' %}</h2>
        <h3>{% term 'project' 'capitalize' %}: {{nomination.project|as_link}}
        <br>{% term 'resource' 'capitalize' %}: {{nomination.resource|as_link}}</h3>
    </div></div>

    <div class="row h-100">
        <div class="col-6">
            <div class="pane">
                {% crispy form %}
            </div>
        </div>
        <div class="col-6">
            <div class="pane">
                <h5>{% term_plural 'claim' 'upper' %}</h5>
                {% render_table table %}
            </div>
        </div>
    </div>
{% endblock %}
