{% extends "base.html" %}
{% load crispy from crispy_forms_tags %}
{% load i18n %}
{% load model_name from cobweb_look %}
{% load jargon %}
{% load render_table from django_tables2 %}

{% block window_title %}Cobweb: {{object.title}}{% endblock %}

{% block content %}
    <div class="row">
        {% include "delete_modal.html" %}
        <h2 class="col mt-1 mb-3">
            {% if object.title %}
                {% include "delete_button.html" %}
                {% term "project" "capitalize" %}: {{object.title}}
            {% else %}
                New {% term "project" %}
            {% endif %}
        </h2>
    </div>

    <div class="row h-100">
        <div class="col-6"><div class="pane">{% crispy form %}</div></div>
        
        <div class="col-6">
            <div class="pane">
                <div class="nav nav-tabs nav-infotabs mb-4" id="myTabs" role="tablist">
                    <a class="nav-link {% if not show_noms %}active{%endif%}"
                       id="summary-tab" data-toggle="tab" role="tab" aria-controls="summary"
                       aria-selected="{% if show_noms %}false{% else %}true{% endif %}" href="#summary">
                       {% trans "Summary" %}
                    </a>
                    <a class="nav-link {% if show_noms %}active{%endif%}"
                       id="nominations-tab" data-toggle="tab" role="tab" aria-controls="nominations"
                       aria-selected="{% if show_noms %}true{% else %}false{% endif %}" href="#nominations">
                        {% term_plural 'nomination' 'capitalize' %}
                    </a>
                </div>

                <div class="tab-content", id="myTabContent">
                    <div class="tab-pane fade show {% if not show_noms %}show active{%endif%}"
                         id="summary" role="tabpanel" aria-labelledby="summary-tab">
                        <div class="summary">
                            <div class="n-unclaimed">
                                {% if object %}{{object.n_unclaimed}}{% else %}0{% endif %}
                            </div>
                            <br>{% trans "unclaimed" %} {% term_plural 'nomination' %}
                        </div>
                        <div class="summary">
                            <div class="n-claimed">
                                {% if object %}{{object.n_claimed}}{% else %}0{% endif %}
                            </div>
                            <br>{% trans "claimed" %} {% term_plural 'nomination' %}
                        </div>
                        <div class="summary">
                            <div class="n-held">
                                {% if object %}{{object.n_held}}{% else %}0{% endif %}
                            </div>
                            {% trans "held" %} {% term_plural 'nomination' %}
                        </div>
                    </div>
                    <div class="tab-pane fade {% if show_noms %} show active{%endif%}"
                         id="nominations" role="tabpanel" aria-labelledby="nominations-tab">
                        {% render_table table %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
