{% extends "base.html" %}
{% load crispy from crispy_forms_tags %}
{% load i18n %}
{% load model_name from cobweb_look %}
{% load jargon %}
{% load render_table from django_tables2 %}

{% block window_title %}Cobweb: {% trans "New Project" %}{% endblock %}

{% block content %}
    <div class="row">
        <h2 class="col mt-1 mb-3">New {% term "project" "lower" %}</h2>
    </div>

    <div class="row h-100">
        <div class="col-6"><div class="pane">{% crispy form %}</div></div>
        
        <div class="col-6">
            <div class="pane">
                <div class="nav nav-infotabs">
                        <a class="nav-link">{% term_plural "nomination" "capitalize" %}</a>
                        <a class="nav-link active disabled">{% trans "notes" %}</a>
                </div>

                <h2>{% term "project" "capitalize" %} {% trans "notes" %}</h2>

                <form class="p-3 mb-3"><fieldset>
                    <textarea class="w-100 p-2">{% trans "Add a" %} {% trans "note" %}...</textarea>
                    <br>
                    {% trans "Visibility:" %}
                    <br>
                    <input type="radio" name="visibility"><label>{% trans "Public" %}</label>
                    <input type="radio" name="visibility"><label>{% trans "Organization" %}</label>
                    <input type="radio" name="visibility"><label>{% trans "Project" %}</label>
                    <button class="ml-auto btn float-right">{% trans "Add note" %}</button>
                </fieldset></form>
                <form class="p-3 mb-3"><fieldset disabled>
                    <h4>Cobweb Developer
                    <br><small class="h6">May 31, 2018 at 1:30 PM PST</small></h4>
                    <textarea class="w-100 p-2">Just a mockup so far...</textarea>
                </fieldset></form>
            </div>
        </div>
    </div>
{% endblock %}
