<h1>About Cobweb</h1>

<p>Cobweb is an open source platform that supports collaborative and coordinated collection development for web archives. Cobweb’s core functionality supports digital curators in establishing projects to collect thematically organized web archives, allows for submission of nominations to those projects, tracks claims made by collecting organizations to participate by archiving nominated web resources, and reports on web resource holdings that have been archived.</p>
 
<p>The shared curatorial decision-making enabled by Cobweb benefits libraries and archives already engaged in web archiving, as well as those that have not yet started, to identify potential collection development opportunities and collaborators, and to inform decisions about allocating resources to web archiving activities. Cobweb also provides researchers with aggregated descriptions of archived web resources to help them identify and find those useful to their research.</p>
 
<p>Cobweb is a partnership between the California Digital Library, UCLA, and Harvard University, with funding from the Institute of Library and Museum Services (IMLS).</p> 
 
<p><a href="https://www.cdlib.org/services/collections/webarchiving/cobweb/">Learn more about Cobweb from the California Digital Library.</a></p>
 
<p><a href="{% url 'getting_started' %}">Learn more about getting started with a collecting project in Cobweb.</a></p>
 
<p><a href="{% url 'contact_us' %}">Contact us if you have questions or suggestions about Cobweb.</a></p>

<h1>Acknowledgements</h1>
<p>
This project was made possible in part by generous funding from the <a href="https://www.imls.gov/">Institute of Museum and Library Services</a>. 
</p>
<img src="https://camo.githubusercontent.com/a38353e07e76525ba5626ff555d2dbac855a617d/68747470733a2f2f7777772e696d6c732e676f762f73697465732f64656661756c742f66696c65732f696d6c735f6c6f676f5f32632e6a7067" width="250"/>


