<h1>About Cobweb</h1>

<p><i>Welcome to the Cobweb, an open source platform that supports collaborative and coordinated collection development for web archives. Cobweb’s core functionality supports digital curators in establishing projects to collect thematically organized web archives, allows for submission of nominations to those projects, tracks claims made by collecting organizations to participate by archiving nominated web resources, and reports on web resource holdings that have been archived.</p>
 
<p>The shared curatorial decision-making enabled by Cobweb benefits libraries and archives already engaged in web archiving, as well as those that have not yet started, to identify potential collection development opportunities and collaborators, and to inform decisions about allocating resources to web archiving activities. Cobweb also provides researchers with aggregated descriptions of archived web resources to help them identify and find those useful to their research.</p>
 
<p>Learn how to <a href="{% url 'getting_started' %}">get started</a> with Cobweb.</p>

<p>Learn about <a href="https://www.cdlib.org/services/collections/webarchiving/cobweb/">the Cobweb project</a> on the California Digital Library website or check out <a href="https://github.com/CobwebOrg/cobweb">Cobweb on GitHub</a>.</p> 

<p><a href="mailto:cobwebarchive@gmail.com">Contact us</a> if you have questions or suggestions about Cobweb.</p>

<p>Cobweb has been initiated as a partnership between the <a href="https://www.cdlib.org/">California Digital Library</a>, <a href="http://www.library.ucla.edu/">UCLA</a>, and <a href="http://library.harvard.edu/">Harvard University</a> and is currently hosted by the California Digital Library. This project has been made possible in part by the <a href="https://www.imls.gov/">Institute of Museum and Library Services</a>.</p> 

<img src="https://camo.githubusercontent.com/a38353e07e76525ba5626ff555d2dbac855a617d/68747470733a2f2f7777772e696d6c732e676f762f73697465732f64656661756c742f66696c65732f696d6c735f6c6f676f5f32632e6a7067" width="150"/>


