<h1>Getting Started with Cobweb</h1>

<p><a href="{% url 'glossary' %}">Cobweb Terms and Concepts</a></p>
<p><a href="#WhatCanYouDoCobwebWithoutAccount">What can you do with Cobweb without a user account?</a></p>
<p><a href="#WhatCanYouDoCobwebWithAccount">What can you do with Cobweb by establishing a user account?</a></p>
<p><a href="#StartCollectingProject">Do you want to start a web archive collecting project?</a></p>
<p><a href="#ContributeCollectingProject">Do you want to contribute to a web archive collecting project?</a></p>
<p><a href="#FindStuff">Do you just want to find projects, resources, or organizations of interest in Cobweb?</a></p>

<h3 id="WhatCanYouDoCobwebWithoutAccount">What can you do with Cobweb without a user account?</h3>
<p>
<ul>
  <li>Search or browse descriptions of:
    <ul>
      <li>web archive collecting projects that have been established in the Cobweb platform</li>
      <li>web resources that have been nominated for inclusion in collecting projects</li>
      <li>web resources that have been claimed for archiving and/or successfully archived by collecting organizations</li>
      <li>collecting organizations using Cobweb to support their web archive collection development activities</li>
    </ul>
  </li>
    <li>Anonymously nominate web resources for inclusion in collecting projects
  </li>
</ul>
</p>
<h3 id="WhatCanYouDoCobwebWithAccount">What can you do with Cobweb by establishing a user account?</h3>
<p>
<ul>
  <li>Establish and track progress on thematic web archive collecting projects</li>
  <li>Add collaborators to thematic web archive collecting projects</li>
    <li>Search or browse descriptions of:
    <ul>
      <li>web archive collecting projects that have been established in the Cobweb platform </li>
      <li>web resources that have been nominated for inclusion in collecting projects</li>
      <li>web resources that have been claimed for archiving and/or successfully archived by collecting organizations</li>
      <li>collecting organizations using Cobweb to support their web archive collection development activities</li>
    </ul>
  <li>Nominate web resources for inclusion in collecting projects</li>
  <li>Claim your organization’s intention to archive web resources relating to collecting projects, indicate when you have archived a web resource holding</li>
  <li>Navigate to details about and review progress on your projects by consulting your personal dashboard.</li>
</ul>
</p>
<p>
<h3 id="StartCollectingProject">Do you want to start a web archive collecting project?</h3>
<h4>Establishing a Collecting Project</h4>
<ul>
  <li>Before initiating a collecting project, you may want to search in Cobweb to see whether there may be existing collecting projects that align with your thematic interest and/or web resources relating to your theme of interest have already been nominated, claimed, or held.</li>
  <li>Establish a new collecting project by first either navigating to the projects list from Projects link in the top horizontal navigation bar or clicking on the Cobweb logo in the top left to get to your personal dashboard. Click on the <b>+New</b> button in the upper right to open up a new project entry screen.</li>
  <li>To establish a collection project, you will need to:</li>
    <ul>
      <li>assign a <i>Title</i> and <i>Description</i></li>
      <li>describe the intended <i>Collecting Scope</i></li>
      <li>indicate the project’s <i>Status</i></li>
      <li>add an <i>Administrator/Administrators</i> who can edit and participate in the project</li>
      <li>indicate a <i>Nomination Policy</i> and, as appropriate define lists of selected <i>Nominators</i>, or those not allowed to nominate</li>
    </ul>
  <li>Optionally, you can also add descriptive Tags to supplement search and discovery of your project</li>
  <li>Claim your organization’s intention to archive web resources relating to collecting projects, indicate when you have archived a web resource holding</li>
  <li>Immediately begin adding Nominations (see Nominating Web Resources to a Collecting Project below)</li>
  <li>Share the Project’s URL with potential nominators and collaborators who may serve as co-administrators to encourage participation!</li>
</ul>
</p>
<p>
<h3 id="ContributeCollectingProject">Do you want to contribute to a web archive collecting project?</h3>
<h4>Nominating Web Resources to a Collecting Project</h4>
<ul>
  <li>You can identify collection projects to which you might contribute nominations by either searching in Cobweb to find existing collecting projects that align with your thematic interest or browsing the lists of Cobweb collecting projects.</li>
  <li>You may want to conduct a search to see if the web resource URL you want to nominate is in the Cobweb catalog already. However, even if it is, you may establish a new nomination specific to a project to which its not yet been nominated. </li>
  <li>To share a nomination for a collecting project, navigate to that project and from the right-hand panel, click first on the Nominations link and then click on the <b>+New</b> button, which will allow you to enter details about your nomination. The only required field for a nomination is the web resource’s URL, though sharing more information about the content of the nominated resource as well as about both your rationale for its nomination will help those who are deciding if and how to crawl it. You can also make suggestions for crawling parameters specific to this web resource. </li>
</ul>
<h4>Claiming Your Organization's Intention to Archive Web Resources</h4>
<ul>
  <li>You can find nominated web resources in Cobweb that fit within your collecting goals and for which you may want to express an intention to archive by searching for or browsing collecting projects. Each collecting project includes a list of nominated web resources and an indication of whether they’ve been claimed for archiving by at least one organization, are held by at least one organization, or are as yet unclaimed for archiving. </li>
  <li>Once you’ve identified nominated resources of interest within a project, you can claim your organization’s intention to archive it by clicking on the <b>+New</b> button, which will allow you to enter your intended approaches to crawling while referring to information about the resource and suggestions for crawling approaches that were submitted by the nominator.</li>
</ul>
<h4>Reporting on Archived Web Resources Claimed and Held by Your Organizations</h4>
<ul>
  <li>After you have claimed your organization’s intention to crawl a given nomination, you should return to Cobweb to assert that it’s now held by your organization. This will let the collecting project administrators, and other Cobweb users, know that the nominated web resource has been archived.</li>
  <li>You can indicate that your organization holds a nomination this by simply navigating to the collecting project the nomination is part of, clicking on the resource URL from the project’s list of nominations and click on the [details] of your claim. In the right-hand claim panel, you can click on the “Held” checkbox and update any crawling details to accurately describe how you ended up approaching the crawl.</li>
</ul>
</p>
<p>
<h3 id="FindStuff">Do you just want to find projects, resources, or organizations of interest in Cobweb?</h3>
<h4>Searching Cobweb</h4>
<ul>
  <li>Cobweb includes both a catalog of aggregated metadata describing both nominated and archived web resources as well as descriptions of collecting projects. From any screen in Cobweb, you’ll find a search box (in the far right of the top horizontal navigation bar) into which you can specify search terms. Search results will bring up projects, resources, organizations that include your search terms. </li>
</ul>
<h4>Browsing Cobweb</h4>
<ul>
  <li>From any screen in Cobweb, you can sort and page through lists of:</li>
  <ul>
    <li>Collecting projects included in the Cobweb catalog by clicking on the Projects link in the top horizontal navigation bar.</li>
    <li>Web resource URLs included in the Cobweb catalog by clicking on the Resource URLs link in the top horizontal navigation bar</li>     <li>Organizations participating in Cobweb by clicking on the Organizations link in the top horizontal navigation bar.</li>
  <li>You can also browse and navigate to any of the projects with which you’re engaged by consulting your personal dashboard. Clicking on the top left Cobweb logo for any screen in Cobweb will take you to your dashboard.</li>
</ul>
</p>
