[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=2.0"
django-autocomplete-light = "*"
django-crispy-forms = "*"
django-reversion = "*"
django-webpack-loader = "*"
"django-tables2" = "*"
django-haystack = "*"
pysolr = "*"
pyuca = "*"
Sickle = "*"
surt = "*"
whitenoise = "*"
uWSGI = "*"
"psycopg2-binary" = "*"

[dev-packages]
pytest = "*"
behave-django = "*"
coverage = "*"
django-debug-toolbar = "*"
factory_boy = "*"
hypothesis = {extras = ["django"]}
pdbpp = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-splinter = "*"
mypy = "*"
ansible = "*"
pytest-bdd = "*"
pytest-xdist = "*"
ipython = "*"
pylint = "*"

[requires]
python_version = "3.6"
