[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=2.0"
django-autocomplete-light = "*"
django-crispy-forms = "*"
django-reversion = "*"
django-webpack-loader = "*"
"django-tables2" = "*"
django-haystack = "*"
pysolr = "*"
pyuca = "*"
Sickle = "*"
surt = "*"
uWSGI = "*"
"psycopg2-binary" = "*"
djangorestframework = "*"
drf-haystack = "*"
django-languages-plus = "*"
django-countries-plus = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-polymorphic = "*"
django-extra-views = "*"
pyyaml = "*"
django-react-templatetags = "*"
whitenoise = "*"
tablib = "*"

[dev-packages]
pytest = "*"
coverage = "*"
django-debug-toolbar = "*"
factory_boy = "*"
hypothesis = {extras = ["django"]}
pdbpp = "*"
pytest-django = "*"
ansible = "*"
ipython = "*"
mypy = "*"
pylint-django = "*"
rope = "*"
django-haystack-panel = "*"
django-extensions = "*"
"autopep8" = "*"

[requires]
python_version = "3.7"
