attrs==17.4.0
certifi==2017.11.5
chardet==3.0.4
coverage==4.4.2
Django==1.11.9
django-autocomplete-light==3.2.10
django-crispy-forms==1.6.1
django-debug-toolbar==1.9.1
django-extensions==1.8.1
django-haystack==2.7.dev1
django-json-widget==0.1.0
django-reversion==2.0.12
django-tables2==1.17.1
django-webpack-loader==0.5.0
factory-boy==2.9.2
Faker==0.8.9
fancycompleter==0.8
hypothesis==3.44.14
idna==2.6
lxml==4.1.1
pdbpp==0.9.2
pluggy==0.6.0
psycopg2==2.7.3.2
py==1.5.2
Pygments==2.2.0
pysolr==3.7.0
pytest==3.3.2
pytest-django==3.1.2
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
requests-file==1.4.3
Sickle==0.6.2
six==1.11.0
sqlparse==0.2.4
surt==0.3.0
text-unidecode==1.1
tldextract==2.2.0
urllib3==1.22
uWSGI==2.0.15
whitenoise==3.3.1
wmctrl==0.3
