Django~=2.0
psycopg2~=2.7.3.2

django-autocomplete-light
django-crispy-forms~=1.7.0
django-reversion
django-webpack-loader
django_tables2
git+https://github.com/mpauly/django-haystack
ipython
pysolr
pyuca
Sickle
surt
whitenoise

uWSGI

coverage
pytest
pytest-cov
pytest-django
hypothesis[django]
django-debug-toolbar
django-extensions
factory-boy
pdbpp
