Django~=2.0
psycopg2

django-autocomplete-light
django-crispy-forms
django-reversion
django-webpack-loader
django_tables2
git+https://github.com/mpauly/django-haystack
pysolr
Sickle
surt
whitenoise

uWSGI

coverage
pytest
pytest-django
hypothesis[django]
django-debug-toolbar
django-extensions
factory-boy
pdbpp
