{% extends "base.html" %}
{% load static %}
{% load cobweb_look %}
{% load render_table from django_tables2 %}

{% block title %}Cobweb: Resources{% endblock %}

{% block content %}

<div class="mt-2 mb-3">{% searchbar 'webresources:list' %}</div>

{% if search_resource %}
	<div>
		<h3>{{ search_resource.url }}</h3>
	      <a href="{{ search_resource.get_absolute_url }}">Detail</a> 
	    | <a href="{% url 'nominate_resource' url=search_resource.url %}">Nominate</a>
	    | Claim
	</div>
{% elif request.GET.q %}
	<div><h3>{{ request.GET.q }}</h3></div>
{% else %}
	<div><h3>All Resources</h3></div>
{% endif %}

{% render_table table %}

{% endblock %}