<div class="form-group">
    <div id="div_id_terms_accepted" class="form-check">
        <label for="id_terms_accepted" class="form-check-label requiredField">
            <input class="checkboxinput form-check-input" type="checkbox" name="terms_accepted"
                   required="" id="id_terms_accepted">
            By establishing a Cobweb account, I have read and agree to Cobweb's
            <a href="{% url 'terms_of_use' %}">Terms of Use</a>.<span class="asteriskField">*</span>
        </label>
    </div>
</div>