{% extends "base.html" %}
{% load cobweb_look %}
{% load jargon %}
{% load i18n %}

{% block title %}Cobweb: {{ resource.url }}{% endblock %}

{% block content %}

<h3 class="">{{ resource.url }}</h3>

<div class="row">
	<div class="col">
		{# <div class="card card_body" #}
			<a href="{% url 'nominate_resource' url=resource.url %}">Nominate to another {% term 'project' %}.</a>
		{# </div> #}
	</div>
</div>
<div class="row">
	{% for resource_record in resource.get_resource_records %}
	    <div class="col-lg-6 p-3">
    		{% metadata_card resource_record exclude='resource' %}
		</div>
	{% endfor %}
</div>
{% endblock %}