$font-size-base:    0.875rem;

$h1-font-size:                $font-size-base * 2;

// Below are default header sizes
// $h2-font-size:                $font-size-base * 2;
// $h3-font-size:                $font-size-base * 1.75;
// $h4-font-size:                $font-size-base * 1.5;
// $h5-font-size:                $font-size-base * 1.25;
// $h6-font-size:                $font-size-base;

$white:       #f8f9fa;
$gray-dark:   #444444;
$gray:        #999999;
$gray-light:  #dddddd;
$black:       #000000;

$purple:      #7B6382;
$lime-light:  #DDE1A0;   
$lime:        #AAC066;
$cyan-light:  #A9D8CA;   
$cyan:        #62ACA5;
$cyan-dark:   #3D8079;
$orange:      #C8923D;
$yellow:      #E4CD53;
$red:         #DB4D3E;

$primary:   $cyan;
$secondary: $gray;
// $success:   $green;
$info:      $lime;
$warning:   $yellow;
$danger:    $red;
// $light:     #f8f9fa;
// $dark:      #343a40;

$theme-colors: (
  "gray": $gray-light,
  "ltprimary": $cyan-light,
  "metadata":  $cyan-light,

  "tag": $lime-light,
  "user": lighten($purple, 50%)
);

@import "~bootstrap/scss/bootstrap";

textarea {
  resize: none;
}

.navbar {
  padding: 0.2rem 0.5rem;
}

.form-section {
  @extend .border, .border-gray;
  @extend .form-group;
  @extend .bg-metadata;
  @extend .p-2;
  @extend .rounded;
}

.badge-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}

.badge-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

.badge-mid {
  @extend .badge-left, .badge-right;
}
