$font-size-base:    0.875rem;

$h1-font-size:                $font-size-base * 2;

// Below are default header sizes
// $h2-font-size:                $font-size-base * 2;
// $h3-font-size:                $font-size-base * 1.75;
// $h4-font-size:                $font-size-base * 1.5;
// $h5-font-size:                $font-size-base * 1.25;
// $h6-font-size:                $font-size-base;

$white:       #f8f9fa;
$gray-dark:   #444444;
$gray:        #999999;
$gray-light:  #dddddd;
$black:       #000000;

$purple:      #7B6382;
$lime-light:  #DDE1A0;   
$lime:        #AAC066;
$cyan-light:  #A9D8CA;   
$cyan:        #62ACA5;
$cyan-dark:   #3D8079;
$orange:      #C8923D;
$yellow:      #E4CD53;
$red:         #DB4D3E;

$primary:   $cyan;
$secondary: $gray;
// $success:   $green;
$info:      $lime;
$warning:   $yellow;
$danger:    $red;
// $light:     #f8f9fa;
// $dark:      #343a40;

$theme-colors: (
  "gray": $gray-light,
  "ltprimary": $cyan-light,
  "metadata":  $cyan-light,

  "tag": $lime-light,
  "user": lighten($purple, 50%),

  "unclaimed": $red,
  "claimed": $yellow,
  "held": $lime,
);

@import "~bootstrap/scss/bootstrap";

// WINDOW LAYOUT

html, body { height: 100%; }

.cobweb-container {
  @extend .container-fluid, .d-flex, .flex-column ;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.1rem;
  padding-bottom: 0.5rem;
}

.cobweb-content { @extend .flex-grow-1 ; }

// HEADER AND FOOTER

$grey-bar-height: 2.7rem;
$navbar-padding: 0.35rem;
$logo-width: $grey-bar-height * 133 / 35;

header{

  %navbar {
    @extend .row, .justify-content-end ;
    padding-top: $navbar-padding;
    padding-bottom: $navbar-padding;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .nav-link { @extend .text-uppercase, .m-0, .p-0 ; }

  .navbar-auth {
    @extend %navbar, .align-items-end ;
    padding-bottom: 1rem;
    height: $grey-bar-height * 48 / 35;

    background-image: url("/static/images/logo_cobweb_web.png");
    background-repeat: no-repeat;
    background-size: $logo-width, $grey-bar-height * 48 / 35;

    .nav-link { @extend .mx-3 }

    .nav-welcome {
      @extend .mx-3 ;
      text-transform: none;
      font-style: italic;
    }
  }

  .navbar-pages {
    @extend %navbar, .align-items-center, .navbar-dark, .bg-dark ;
    height: $grey-bar-height;

    background-image: url("/static/images/logo_cobweb_text.png");
    background-repeat: no-repeat;
    background-size: $logo-width, $grey-bar-height;

    line-height: 0;

    #searchform{
      @extend .flex-grow-1 ;
      max-width: 25rem;
      max-height: $grey-bar-height - (2 * $navbar-padding);

      .form-control {
      //   // @extend .my-0, .py-0 ;
        max-height: $grey-bar-height - (2 * $navbar-padding);
      }

      .btn {
        @extend .my-0, .py-0 ;
        border: 0;
        height: $grey-bar-height - (2 * $navbar-padding);
      }
    }

    .nav-link { 
      @extend .mr-5 ;
      font-size: 130%;
    }

    .dropdown-item {
      line-height: 1.2;
    }

    .logo-text {
      @extend .my-0, .p-0,  ;

      margin-left: 0.6rem;
      margin-right: auto;
      letter-spacing: 0.085rem;

      font-size: 0.7 * $grey-bar-height;
      font-weight: bold; 
      color: $red;
      opacity: 0;
    }
  }
}

footer hr { margin-bottom: 0.25rem; }

// INFO TABS

.nav-infotabs {
  @extend .text-uppercase, .justify-content-around ;

  .active {
    border-bottom: 3px solid $gray;
  }
}

.summary {
  @extend .text-uppercase, .text-center, .py-4 ;

  @each $nomination_type in (unclaimed, claimed, held) {
    .n-#{$nomination_type} { @extend .display-3, .text-#{$nomination_type} }
  }
}

// MISC

.asteriskField, .invalid-feedback, .is_invalid { color: $danger; }

textarea { resize: none; }

.form-section {
  @extend .border, .border-gray ;
  @extend .form-group ;
  @extend .bg-metadata ;
  @extend .p-2 ;
  @extend .rounded ;
}


@each $nomination_type in (unclaimed, claimed, held) {
  .#{$nomination_type}-count {
    @extend .badge, .badge-pill, .badge-#{$nomination_type} ;
  }
}

.badge-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}

.badge-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

.badge-mid { @extend .badge-left, .badge-right ; }

.pane { @extend .border, .h-100, .p-3 ; }

.table {
  @extend .table-hover ;
  border-top: 0 none;

  th { border-top: 0px none; }
}

