$font-size-base:    0.875rem;

$h1-font-size:                $font-size-base * 2;

// Below are default header sizes
// $h2-font-size:                $font-size-base * 2;
// $h3-font-size:                $font-size-base * 1.75;
// $h4-font-size:                $font-size-base * 1.5;
// $h5-font-size:                $font-size-base * 1.25;
// $h6-font-size:                $font-size-base;

$white:     #fff;

$blue:      #2373cd;
$indigo:    #5e56c2;
$purple:    #7b6382;
$pink:      #e45597;
$red:       #db4d3e;
$orange:    #c8923d;
$yellow:    #e4cd53;
$green:     #41a45f;
$teal:      #2db089;
$cyan:      #62aca5;
$lime:      #aac066;

$ltcyan:    #a9d8ca;
$ltlime:    lighten(#dde1a0, 15%);

$gray-600:  #999999;  // bootstrap "gray"
$gray-800:  #444444;  // bootstrap "gray-dark"


$primary:   darken(#4ea29a, 10%);
// $secondary: $purple;
$secondary: darken($white, 30%);
$success:   $green;
$info:      $lime;
$warning:   $yellow;
$danger:    $red;
$light:     #f8f9fa;
$dark:      #343a40;

$theme-colors: (
        "gray": lighten($gray-600, 15%),
  "ltlime":  $ltlime,
  "ltprimary": lighten($primary, 25%),
  "metadata": lighten($cyan, 44%),

  "keyword": $ltlime,
  "user": lighten($purple, 50%)
);

@import "~bootstrap/scss/bootstrap";

textarea {
  resize: none;
}

.navbar {
  padding: 0.2rem 0.5rem;
}

.form-section {
  @extend .border, .border-gray;
  @extend .form-group;
  @extend .bg-metadata;
  @extend .p-2;
  @extend .rounded;
}

.note {
  @extend .card, .border-info, .bg-white, .mb-3;
  font-size: 0.8rem;
}

.note-header {
  @extend .card-header, .bg-info, .card-title, .p-2;
}

.note-body {
  @extend .card-body, .p-2;
}

.note-warning {
  @extend .note, .border-warning;
}

.note-warning > .note-header {
  @extend .note-header, .bg-warning;
}

.badge-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}

.badge-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

.badge-mid {
  @extend .badge-left, .badge-right;
}
