{% load cobweb_look %}

<div class="card">
    <div class="card-header">
        <h2 class="card-title">{{title}}</h2>
    </div>

    <div class="card-body">
        {% if item.description or item.keywords %}
            {% if item.description %}
                <p>{{ item.description }}</p>
            {# {% else %} #}
                {# <p>No Description</p> #}
            {% endif %}

            {% if item.keywords %}
                {% for keyword in item.keywords.all %}
                    {% pill keyword %}
                {% endfor %}
            {% endif %}
        {% else %}
            <p>No metadata.</p>
        {% endif %}
    </div>
</div>