<table class="table table-hover">
	<caption>Seeds</caption>
	<tr>
		<th/>
		<th>URL</th>
		<th>Description</th>
		<th>Date Created</th>
		<th>Nominated By</th>
	</tr>
	{% for seed in seeds.all %}
		<tr class='clickable-row'>
			<td>
				<a href={% url 'registry:seed_update' pk=seed.pk %}>
					<span class="	glyphicon glyphicon-edit"></span>
				</a>
			</td>
      <td>{{ seed.url }}</td></a>
			<td>{{ seed.description }}</td>
			<td>{{ seed.created }}</td>
			<td>{{ seed.nominated_by }}</td>
		</tr>
	{% endfor %}
	<tr>
		<td/>
		<td>{% include "registry/new_button.html" %}</td>
		<td/><td/><td/>
	</tr>
</table>