{% extends 'base.html' %}
{% load i18n %}

{% block content %}

{% with paginator.object_list.count as n_results %}
  <h2>
    {% trans "Search:"%} {{query}}
    <br>
    <small>
      {% if n_results == 0 %}
        No results.
      {% else %}
        {{paginator.object_list.count}}
        {% if n_results == 1 %}
          {% trans "result" %}
        {% else %}
          {% trans "results" %}
        {% endif %}
      {% endif %}
    </small>
  </h2>
{% endwith %}

<form method="get" action=".">
  
  {% if page.has_previous or page.has_next %}
  <div>
    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; {% trans "Previous" %}{% if page.has_previous %}</a>{% endif %}
    |
    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}{% trans "Next" %} &raquo;{% if page.has_next %}</a>{% endif %}
  </div>
  {% endif %}
  
  <ul class="list-unstyled">
    {% for result in page.object_list %}
      {% include "search/searchresult.html" with result=result %}
    {% endfor %}
  </ul>
</form>
{% endblock %}
