{% extends 'base.html' %}

{% block content %}
    <h2>Search results</h2>

    <form method="get" action=".">

        <h3>{{form.searchqueryset.count}} Results</h3>

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}

        <ul class="list-unstyled">
            {% for result in page.object_list %}
                {% include "search/searchresult.html" with result=result %}
            {% empty %}
                <p>Really, that means nothing.</p>
            {% endfor %}
        </ul>
    </form>
{% endblock %}
