    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted pull-left">
					<a href="{% url 'front_page' %}">
						Cobweb
					</a>
				</h3>
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation">{# <a href="#"> #}About{# </a> #}</li>
            <li role="presentation">{# <a href="#"> #}Contact{# </a> #}</li>
            <li role="presentation"><a href="{% url 'project_list' %}">Projects</a></li>
            <li role="presentation">{# <a href="#"> #}Login{# </a> #}</li>
          </ul>
        </nav>
      </div>