{% extends "base.html" %}
{% load static %}
{% load humanize %}
{#{% load django_tables2 %}#}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
<div><h1>{{ object.name }}</h1></div>

<p>
	Created {{ object.created|naturaltime }} by 
  <a href="{% url 'agent_detail' pk=object.established_by.pk %}">{{ object.established_by }}</a>
</p>

<p>{{ object.description }}</p>

{# {% render_table view.get_seed_table %} #}

<h2>Nominations</h2>
<ul>
{% for nomination in object.nomination_set.all %}
  <li>
    <a href="{% url 'resource_detail' pk=nomination.resource.pk %}">{{nomination.resource}}</a>
    nominated by
    <a href="{% url 'agent_detail' pk=nomination.nominated_by.pk %}">{{nomination.nominated_by}}</a>
{% endfor %}
</ul>



{% endblock %}