{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load django_tables2 %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
<div><h1>{{ object.name }}</h1></div>

<p>
	Created {{ object.created|naturaltime }} by 
  <a href="{% url 'agent_detail' pk=object.established_by.pk %}">{{ object.established_by }}</a>
</p>

<p>{{ object.description }}</p>

{# {% render_table view.get_seed_table %} #}

<ul>
{% for seed in object.seed_set.all %}
  <li>{{seed.url}}
{% endfor %}
</ul>



{% endblock %}