{% load static %}
{% load cobweb_look %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta content="text/html">

    <title>{% block window_title %}Cobweb{% endblock %}</title>

    <!-- Webpack bundle -->
    {% render_bundle 'main' %}
    <link href="{% static 'Font-Awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <style type="text/css">
      textarea {
        resize: none;
      }
    </style>
  </head>

  <body>
    {% include 'navbar.html' %}

    <div class="container">
      <div class="row flex-column-reverse flex-sm-row">
          {% block sidebar %}{% include 'collaboration_sidebar.html' %}{% endblock %}
        <div class="col">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div> <!-- /container -->


{# <br><br><br><br><br><br><br><br><br><br><p style='{padding-top: 3cm}'><pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre> #}



    <script src="http://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

  <!-- Form DOT Media -->
  {{ form.media }}
</body>
</html>
