{% load static %}
{% load cobweb_look %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta content="text/html">

    <title>{% block window_title %}Cobweb{% endblock %}</title>

    <!-- Webpack bundle -->
    {% render_bundle 'main' %}
  </head>

  <body class="cobweb-container">
      {% include 'header.html' %}

      <div class="cobweb-content">
        {% block content %}{% endblock %}
      </div>

      {% include 'footer.html' %}

    <script src="http://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <!-- Form DOT Media -->
    {{ form.media }}

    <!-- End of base.html content -->
  </body>
</html>
