{% load cobweb_look %}
<div class="bg-light">
	<h4>Project notes</h4>

	<div class="form-group align-items-end">
	    <textarea class="form-control" id="newNoteText" rows="3"></textarea>
		<div>
			<button class="btn btn-sm my-1">Cancel</button>
			<button class="btn btn-sm btn-primary my-1">Add</button>
		</div>
	</div>

	<div class="card border-warning bg-white mb-3">
		<h6 class="card-header bg-warning card-title p-2">Janet Taylor, 2017/10/18</h6>
		<p class="card-body p-2">Confirmed starting crawl date for description.</p>
	</div>

	<div class="card border-info bg-white mb-3">
		<h6 class="card-header bg-info card-title p-2">Janet Taylor, 2017/10/11</h6>
		<p class="card-body p-2">This project is partially funded through a grant from the John Quincy Adams foundation. We are looking to partner with another organization to complete the project.</p>
	</div>
</div>
