{% extends "base.html" %}
{% load cobweb_look %}
{% load django_tables2 %}
{% load i18n %}

{% block content %}
  <div id="dashboard" class="row">
    <div class="col-3 p-3">
        <div class="border p-4">
            <h1 class="mb-2 text-user-dark">{{ request.user }}</h1>
            <p class="mb-2">
                {% if request.user.organization %}
                    {{request.user.organization | as_link}}
                {% endif %}
            </p>
            <p class="mb-4 text-user-dark">{% trans "Last login:" %} {{user.last_login|date:"M d, Y"}}</p>

            {% comment %} <table>
                <tr><td class="pr-2">{% trans "Replies to notes:" %}</td><td>0</td</tr>
                <tr><td class="pr-2">{% trans "New notes:" %}</td><td>2</td></tr>
                <tr><td class="pr-2">{% trans "Activity alerts:" %}</td><td>5</td></tr>
            </table> {% endcomment %}
        </div>
    </div>

    <div class="col-9 p-3 " id="dash-tabs">
        <h2>My Projects</h2>
            
        {% render_table table %}
    </div>
  </div>
{% endblock %}
