{% load model_name from cobweb_look %}
{% if delete_url %}
    <!-- Modal for Confirmation Dialog -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
         aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="{{delete_url}}" method="post" class="modal-content">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">
                        {% if delete_confirm_title %}
                            {{delete_confirm_title}}
                        {% else %}
                            Delete {{object | model_name | capfirst}}?
                        {% endif %}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if delete_confirm_text %}
                        {{delete_confirm_text}}
                    {% else %}
                        Are you sure you want to delete
                        {{object | model_name | capfirst}} {{object}}?
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-outline-dark mr-1" data-dismiss="modal">Cancel</button>
                    <input name="submit" value="Delete" class="btn btn-primary"
                           id="submit-id-submit" type="submit">
                </div>
            </form>
        </div>
    </div>
{% endif %}
