{% load static %}

<header class="container mb-2 position-relative">
	<a href="{% url 'front_page' %}" style="position: absolute; top: 0; left: 0.875rem; z-index: 1100;">
	    <img class='float-left mr-auto position-absolute' src="{% static 'images/cobweb_logo_b4.png' %}" alt="CobWeb logo">
	</a>
	<nav class="navbar row justify-content-end align-items-center">
		{% if user.is_authenticated %}
			<span class="nav-link my-0 py-0">Welcome, {{user}}</span> •
			<a id="account_link" class="nav-link text-uppercase my-0 py-0" href="{% url 'user_update' pk=request.user.pk %}">Profile</a> •
			<a id="logout_link" class="nav-link text-uppercase my-0 py-0" href="{% url 'logout' %}?next={{request.path}}">Logout</a>
		{% else %}
			<span class="nav-link my-0 py-0">Welcome!</span> •
			<a id="signup_link" class="nav-link text-uppercase my-0 py-0" href="{% url 'user_create' %}?next={{request.path}}">Sign Up</a> •
			<a id="login_link" class="nav-link text-uppercase my-0 py-0" href="{% url 'login' %}?next={{request.path}}">Login</a>
		{% endif %}
	</nav>

   <nav class="navbar row navbar-dark bg-dark">
		<span style="visibility: hidden;"><a class="nav-link text-uppercase mr-auto text-ltprimary" href="/">
			CobWeb home
		</a></span>

		<form id="searchform" action="{% url 'search' %}" method="get" accept-charset="utf-8">
			<div class="input-group">
				<input class="form-control" id="searchbox" name="q" type="text" placeholder="Search..."
					   aria-label="Search query">
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" type="button"><span class="fa fa-search"></span></button>
				</div>
			</div>
		</form>
		<div class="dropdown show">
			<a class="dropdown-toggle nav-link text-uppercase text-ltprimary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				URLs
			</a>
		
			<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				<a class="dropdown-item" href="{% url 'resource_list' %}">All Resources</a>
				<a class="dropdown-item">Nominated URLs </a>
				<a class="dropdown-item">Claims</a>
				<a class="dropdown-item">Holdings</a>
			</div>
		</div>
		<a class="nav-link text-uppercase text-ltprimary" href="{% url 'project_list' %}">
			Projects
		</a>
		<a class="nav-link text-uppercase text-light">
			Organizations
		</a>
		<a class="nav-link text-uppercase text-light">
			Help
		</a>
	</nav>
</header>


