{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% block content %}
  <div class="row">

    <div class="col-6 p-5">
      <p>Cobweb is a partnership between the California Digital Library, UCLA, and
      Harvard University.</p>

      <p>With funding from the Institute of Library and Museum Services
      (IMLS), we are developing an open source platform to support collaborative
      collection development for web archives. Cobweb’s core functionality
      supports digital curators in establishing projects to collect
      thematically organized web archives, allows for submission of
      nominations to those projects, tracks claims made by collecting
      organizations to participate by archiving nominated web resources,
      and reports on holdings that have been archived.</p>

      <p>The shared curatorial decision-making enabled by Cobweb will benefit
      libraries and archives already engaged in web archiving as well as
      those that have not yet started, and it will help them make better
      informed decisions regarding the allocation of their finite
      resources. Cobweb also provides researchers with aggregated
      descriptions of archived resources to help them identify and find
      those useful to their research.</p>

      <p><a href="https://www.cdlib.org/cobweb/">Learn more from CDL</a></p>
    </div>

    <div class="col-6 p-5 d-flex flex-column-reverse justify-content-end">
      {% comment %} <div class="d-flex flex-column-reverse"> {% endcomment %}
      {% crispy form %}
      <img src="{% static 'images/cobweb_logo_300.png' %}"
           style="max-width: 100%; max-height: 100%" 
           class="flex-shrink-1">

      {% comment %} </div> {% endcomment %}
    </div>

  </div>
{% endblock %}
