{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% load i18n %}

{% block content %}
  <div class="row">

    <div class="col-6 p-5">
      {% include 'static_pages/about_cobweb.html' %}
    </div>

    <div class="col-6 p-5 d-flex flex-column-reverse justify-content-end align-items-center">
      {% comment %} <div class="d-flex flex-column-reverse"> {% endcomment %}
      {% block loginform %}
        <div class='w-100'>{% crispy form %}</div>
      {% endblock %}
      <img src="{% static 'images/cobweb_logo_300.png' %}"
           style="max-width: 70%; max-height: 70%" 
           class="flex-shrink-1">

      {% comment %} </div> {% endcomment %}
    </div>

  </div>
{% endblock %}
