{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{page_title}}{% endblock %}

{% block content %}
<!-- <div><h1></h1></div> -->
{% crispy form %}

<p>
	<span class='badge badge-pill badge-info border-info p-0'>
		<span class='badge badge-pill badge-warning m-1'>DC</span>
		Property:
		<span class='badge badge-pill badge-light border-info m-1'>Value</span>
	</span>
</p>

<p>
	<span class='badge badge-pill badge-info border-info p-0 pr-2'>
		<span class='badge badge-pill badge-warning m-1'>LCSH</span>
		Subject
	</span>
</p>

<p>
	<span class='badge badge-pill badge-info border-info p-0 pl-2'>
		Property:
		<span class='badge badge-pill badge-light border-info m-1'>Value</span>
	</span>
</p>

<p>
	<span class='badge badge-pill badge-info border-info pl-2 pr-2'>
		Keyword
	</span>
</p>


<div class="card bg-light border-info">
<p class="card-header bg-info text-light">
	<span class='badge badge-pill badge-warning m-1'>DC</span>
	Description
</p>
<p class="card-body">
But I must explain to you how all this mistaken idea of denouncing of a pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
</p>
</div>


{% endblock %}