{% load static %}

<header class="container mb-2 position-relative">
	<a href="{% url 'front_page' %}" style="position: absolute; top: 0; left: 0.875rem; z-index: 1100;">
	    <img class='float-left mr-auto position-absolute' src="{% static 'images/cobweb_logo_b4.png' %}" alt="CobWeb logo">
	</a>
	<img class='float-left mr-auto position-absolute' src="" height=44>
	<nav class="navbar row justify-content-end">
		{% if user.is_authenticated %}
			<span class="nav-link my-0 py-0">Welcome, {{user}}</span> |
			<a class="nav-link my-0 py-0" href="#">Account</a> |
			<a class="nav-link my-0 py-0" href="{% url 'logout' %}?next={{request.path}}">Logout</a>
		{% else %}
			<span class="nav-link my-0 py-0">Welcome!</span> |
			<a class="nav-link my-0 py-0" href="{% url 'user_create' %}?next={{request.path}}">Sign Up</a> |
			<a class="nav-link my-0 py-0" href="{% url 'login' %}?next={{request.path}}">Login</a>
		{% endif %}
	</nav>

    <nav class="navbar row navbar-dark bg-dark" style="margin-top: 10px;">
		<span style="visibility: hidden;"><a class="nav-link text-uppercase mr-auto ml-auto text-ltprimary" href="/">
			CobWeb home
		</a></span>

		<a class="nav-link text-uppercase mr-auto ml-auto text-ltprimary" href="{% url 'project_list' %}">
			Projects
		</a>
		<a class="nav-link text-uppercase mr-auto ml-auto text-ltprimary" href="{% url 'archives:collection_list' %}"> 
			Collections
		</a>
		<a class="nav-link text-uppercase mr-auto ml-auto text-ltprimary" href="{% url 'webresources:list' %}">
			Resources
		</a>
		<a class="nav-link text-uppercase mr-auto ml-auto text-light" href="{% url 'webresources:list' %}">
			Organizations
		</a>
		<a class="nav-link text-uppercase mr-auto ml-auto text-light" href="{% url 'webresources:list' %}">
			Users
		</a>
	</nav>
</header>
