{% load static %}

<header class="container mb-2 position-relative">
	<img class='float-left mr-auto position-absolute ml-1 pl-3' src="{% static 'images/cobweb_logo_top.png' %}" height=44>
	<nav class="navbar row justify-content-end">
		{% if user.is_authenticated %}
			<span class="nav-link my-0 py-0">Welcome, {{user}}</span> |
			<a class="nav-link my-0 py-0" href="#">Account</a> |
			<a class="nav-link my-0 py-0" href="{% url 'logout' %}?next={{request.path}}">Logout</a>
		{% else %}
			<span class="nav-link my-0 py-0">Welcome!</span> |
			<a class="nav-link my-0 py-0" href="{% url 'user_create' %}?next={{request.path}}">Sign Up</a> |
			<a class="nav-link my-0 py-0" href="{% url 'login' %}?next={{request.path}}">Login</a>
		{% endif %}
	</nav>

	<nav class="navbar row navbar-dark bg-dark">
		<a href="/" class="navbar-brand py-0 mr-auto"><h1>cobWeb</h1></a>

		<a class="nav-link text-uppercase mr-auto ml-auto" href="{% url 'project_list' %}">
			Projects
		</a>
		<a class="nav-link text-uppercase mr-auto ml-auto text-light" {# href="/ {% url 'webresources:list' %}" #}> 
			Collections
		</a>
		<a class="nav-link text-uppercase mr-auto ml-auto" href="{% url 'webresources:list' %}">
			Resources
		</a>
		<a class="nav-link text-uppercase mr-auto ml-auto text-light" href="{% url 'webresources:list' %}">
			Organizations
		</a>
		<a class="nav-link text-uppercase mr-auto ml-auto text-light" href="{% url 'webresources:list' %}">
			Users
		</a>
	</nav>
</header>
