{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load model_name from cobweb_look %}

{% block window_title %}Cobweb: {{object.title}}{% endblock %}

{% block content %}
    <div class="row">
        <h2 class="col mt-1 mb-3">{{object|model_name|upper}}: {{object.title}}</h2>
    </div>

    <div class="row">
        <div class="col-6">{% crispy form %}</div>
        
        <div class="col-6">
            <div class="pane">
                <div class="nav nav-infotabs">
                        <a class="nav-link active">Summary</a>
                        <a class="nav-link">Nominations</a>
                        <a class="nav-link">Notes</a>
                </div>
                <div class="summary">
                    <div class="n-unclaimed">{{object.n_unclaimed}}</div>
                    <br>unclaimed nominations
                </div>
                <div class="summary">
                    <div class="n-claimed">{{object.n_claimed}}</div>
                    <br>claimed nominations
                </div>
                <div class="summary">
                    <div class="n-held">{{object.n_held}}</div>
                    held nominations
                </div>
            </div>
        </div>
    </div>
{% endblock %}
