{% extends "base.html" %}
{# {% load static %} #}
{# {% load humanize %} #}
{% load cobweb_look %}
{% load render_table from django_tables2 %}

{% block page_title %}{{ project.title }}{% endblock %}
{% block title %}{{ project.title }}{% endblock %}

{% block content %}
<div class="row">
	<h3 class="editable_title col-md-12 collapse show">
		{{project.title}}{% edit_link project user %}
	</h3>
</div>

<div class="row">
	<div class="col-md-5">
		<div id="div_id_status" class="form-section">
      <div class="form-group">
				<label for="id_status" class="form-control-label">
					Status:
				</label>
				<div class="">
					{{project.status}}
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-7">
		<div id="div_id_administrators" class="form-section">
      <div class="form-group">
				<label for="id_administrators" class="form-control-label">
					Administrators:
				</label>
				<div class="">
					{% for user in project.administrators.all %}{% badge user %}{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="form-section">
			<div id="div_id_description" class="row form-group">
				<label for="id_description" class="col-md-2 form-control-label">
					Description:
				</label>
				<div class="col-md ">
					<p id="id_description">
						{{project.description}}
					</p>
				</div>
			</div>
			<div id="div_id_keywords" class="row form-group ">
				<label for="id_keywords" class="col-md-2 form-control-label">
					Keywords:
				</label>
				<div class="col-md ">
					{% for keyword in project.keywords.all %}{% badge keyword %}{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-12">
        <div class="form-section">
            <div class="row">
                <div id="div_id_nomination_policy" class="form-group col-md-5">
                    <label for="id_nomination_policy_0" class="form-control-label">
                        Nomination policy:
                    </label>
                    <div class="">
                        {{project.nomination_policy}}
                    </div>
                </div>
                <div id="div_id_nominators" class="form-group col-md-7">
                    <label for="id_nominators_0" class="form-control-label">
                        Nominators:
                    </label>
                    <div class="">
                        {% for nominator in project.nominators.all %}{% badge nominator %}{% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h4>Nominations<div class="float-right">{% add_nomination_link project user %}</div></h4>

{% render_table table %}

{% endblock %}
