{% load icon from cobweb_look %}
{% if unclaimed > 0 and claimed > 0 %}
  <span class='badge badge-pill badge-info text-white badge-left'>
    {{claimed}} {% icon 'Resource' %}
  </span><span class='badge badge-pill badge-danger text-white badge-right'>
    {{unclaimed}} {% icon 'Resource' %}
  </span>
{% elif unclaimed > 0 and claimed == 0 %}
  <span class='badge badge-pill badge-danger text-white'>
    {{unclaimed}} {% icon 'Resource' %}
  </span>
{% elif unclaimed == 0 and claimed > 0 %}
  <span class='badge badge-pill badge-info text-white'>
    {{claimed}} {% icon 'Resource' %}
  </span>
{% endif %}
