{% extends "base.html" %}
{# {% load static %} #}
{# {% load humanize %} #}
{% load cobweb_look %}
{% load render_table from django_tables2 %}

{% block page_title %}{{ project.title }}{% endblock %}
{% block title %}{{ project.title }}{% endblock %}

{% block content %}
<div class="row">
	<h3 class="editable_title col-md-12 collapse show">
		{{project.title}}{% edit_link project user %}
	</h3>
</div>

<div>
	<div id="div_id_status" class="row form-group">
		<label for="id_status" class="col-md-3 col-lg-2 form-control-label">
			Status:
		</label>
		<div class="col-md">
			{{project.status}}
		</div>
	</div>
	<div id="div_id_administered_by" class="row form-group">
		<label for="id_administered_by" class="col-md-3 col-lg-2 form-control-label">
			Administrators:
		</label>
		<div class="col-md">
			{% for user in project.administered_by.all %}{% badge user %}{% endfor %}
		</div>
	</div>
</div>

<div>
	<div id="div_id_description" class="row form-group ">
		<label for="id_description" class="col-md-3 col-lg-2 form-control-label ">
			Description:
    	</label>
    	<div class="col-md ">
	    	<p id="id_description">
				{{project.description}}
			</p>
		</div>
	</div>
	<div id="div_id_keywords" class="row form-group ">
		<label for="id_keywords" class="col-md-3 col-lg-2 form-control-label">
			Keywords:
	    </label>
		<div class="col-md ">
			{% for keyword in project.keywords.all %}{% badge keyword %}{% endfor %}
		</div>
	</div>
	<div id="div_id_nomination_policy" class="form-group row">
		<label for="id_nomination_policy_0" class="form-control-label col-md-3 col-lg-2">
			Nomination policy:
		</label>
		<div class="col-md">
	    	{{project.nomination_policy}}
		</div>
    </div>
</div>


<h4>Nominations<div class="float-right">{% add_nomination_link project user %}</div></h4>

{% render_table table %}

{% endblock %}
