{% extends "base.html" %}
{% load static %}
{% load humanize %}
{#{% load django_tables2 %}#}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
<div>
	<h1>{{ object.name }}</h1>
	{% if user.is_authenticated %}
		<a href="{% url 'project_update' pk=object.pk %}">Edit</a>
	{% endif %}
</div>



{% if object.description %}
	<p>{{ object.description }}</p>
{% else %}
	<p>No Description</p>
{% endif %}

{# {% render_table view.get_seed_table %} #}

<h2>Nominations</h2>
<ul>
{% if user.is_authenticated %}
	<li><a class="" href="{% url 'nominate' project_id=object.pk %}">+ Add a nomination.</a></li>
{% endif %}
{% for resource in object.nominated_resources.distinct %}
  <li>
    {#<a href="{% url 'nomination_detail' pk=1 %}">#}
    {{resource}}
{% endfor %}

</ul>



{% endblock %}